*{
    margin : 0;
    padding : 0;
    
}
body{
    position: relative;
    padding-right: 10%;
    padding-left: 10%;
    width : 100%;
    margin: 0px;
    width: 1520px;
    font: 15px arial, helvetica, sans-serif;
    background: #333;
    z-index : -1;
}
li{
    list-style : none;
}
li>a{
    text-decoration: none;
}

.headerbox {
    height: 120px;
    width: 1520px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
nav {
    width: 1520px;
}

/*메인메뉴*/
.navi{
    width:60%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position : relative;
    left : 270px;
    text-align : center;
}
.navi > li{
    width:100%;
    padding:20px 0;
    position:relative;
    cursor:pointer;
}
.navi > li:hover{background:rgba(255,255,255, 0.1) ;}
.navi > li > a{
    text-align: center;
    color:#ffffff;
}
.subMenu{
    display: none;
    width:100%;
    position:absolute;
    left:0;
    top:55px;
    z-index: 1;
    background:#333333;
}
.subMenu > li{
    width:100%;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.subMenu > li:hover{
    background: rgba(0,0,0, 0.5);
}
.subMenu a {color:#ffffff;}

.slider__container {
    position: relative;
    width: 1520px;
    height: 6s00px;
    margin: 0 auto;
    overflow: hidden;
    float : left;
}

.slider__inner {
    width : 1520px;
    height : 400px;
    display: flex;
    transition: transform 0.6s ease;
    z-index : -1;
}
.slider__inner>img{
    float : left;
    position : absolute;
    width : 1520px;
    height : 400px;
}
.slider__slide {
    flex: 0 0 100%;
    height: 100%;
    width : 400px;
}

.slider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slider__controls button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}


#information{
    float : left;
}
.slider__indicators .slider__indicator {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider__indicators .slider__indicator.active {
    background-color: #555;
}

.imgSlide{
    position:relative;
    width:100%;
    height:500px;
    overflow: hidden;
    background: #eeeeee;
    z-index :   ;
}

.imgSlide a{
    position:absolute;
    left:0;
    top:0;
    overflow: hidden;
}
.imgSlide a > img {height:100%;}


/* 레이어 팝업  */
#modalWrap{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1;
}
#modalWrap.active{
    display:block;
}
.modal{
    position:fixed;
    width:350px;
    padding:20px;
    top:40%;
    left:40%;
    background:#ffffff;
}
.modal > h1{
    margin:10px 0;
    text-align: center;
    letter-spacing: -1px;
}
.modal > p{
    text-align:justify;
}
.btn{
    width:100%;
    padding:10px;
    margin-top:20px;
    background: #0066ad;
    color:#ffffff;
    border:0;
    font-weight:bold;
    cursor:pointer;
}
.btn:hover{background:rgba(0,102,173,0.2); color:#0066ad;}

a{
    text-decoration: none;
    color: black;
}

#select_popup > h1:hover{
    color: #0066ad;
}

#back {
    width: 1520px;
    height: 1000px;
    background-image: url(../html/keyimage/12.png   );
    background-size: cover;
    text-align: center;
    font-size: 40px;
}

